<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GardenManager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/devices" aria-current="page" href="#">Device List</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <button class="btn btn-outline-success me-3" type="submit">
                {{username}}
            </button>
            <button class="btn btn-outline-success" type="submit" (click)="logout()">
                <i class="bi bi-power"></i>
            </button>
        </form>
    </div>
  </div>
</nav>