<div class="bg-success wrapper">
    <div id="layoutAuthentication" class="column_wrapper">
        <div id="layoutAuthentication_content" class="main">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <div>
                                        <div *ngIf="isFailedAttempt()" class="alert alert-danger" role="alert">
                                            {{error}}
                                        </div>
                                    </div>
                                    <form [formGroup]="credentialsForm" (submit)="performLoginAttempt()">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="username" type="text" placeholder="Username" formControlName="username"/>
                                            <label for="inputUsername">Username</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="password" type="password" placeholder="Password" formControlName="password"/>
                                            <label for="inputPassword">Password</label>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg col-lg-12">Login</button>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer" class="footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Rekiny Ogrodnictwa 2022-2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>