<h4>Device Settings</h4>

<div *ngIf="settingsForm != null">
    <form [formGroup]="settingsForm" (submit)="submitSettings()">
        <p *ngFor="let setting of settingsList">
            <label [for]="setting.key">{{ setting.key | titlecase }}</label>

            <!-- Dynamiczne renderowanie pól input na podstawie fieldName -->
            <input *ngIf="setting.value instanceof string"
              [id]="setting.key"
              type="text"
              [formControlName]="setting.key"
              [placeholder]="setting.key | titlecase"
            />

            <input *ngIf="setting.value instanceof boolean"
            [id]="setting.key"
            type="checkbox"
            [formControlName]="setting.key"
            [placeholder]="setting.key | titlecase"
          />
        </p>
        <input type = "submit" value = "submit">
    </form>
</div>