
<button type="button" onclick="contentManager.buildRequestComponent('components/module-page/component-with-dynamic-data/subpage-dynamic.html', '#main-container').send()">
    subpage1
</button>
<button type="button" onclick="contentManager.buildRequestComponent('components/module-page/component-with-image/subpage-static.html', '#main-container').send()">
    subpage1
</button>

<hr/>

<div id="main-container"></div>

<script>
    contentManager.buildRequestComponent('components/module-page/component-with-image/subpage-static.html', '#main-container').send();
</script>